################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/izmeginajums1 github/.vs/izmeginajums1 github/FileContentIndex/61be4e8c-d9ab-4f06-a5bf-0fa5dacf0386.vsidx
